.book {
  border: 2px solid #eee;
  padding: 16px;
  border-radius: 12px;
  text-align: center;
  width: 200px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  display : inline-block;
  border-color: chocolate;
    margin: 10px;
   align-content: center;
}

.book:hover {
  transform: scale(1.03);
}

.btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.btn:hover {
  background-color: #0056b3;
}

.book img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;   /* optional */
}
